# copied from Revelationary
# gradle

.gradle/
build/
out/
classes/

# idea

/.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# fabric

run/
backup/
/deps/
/remappedSrc/
/runs/junit/junit_jvm_args.txt
/runs/junit/junit_test_args.txt
